# Eksik Veriler

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns

In [32]:
df = pd.read_csv("satislar.csv")

In [33]:
df

    Aylar  Satislar
0       8   19671.5
1      10   23102.5
2      11   18865.5
3      13   21762.5
4      14   19945.5
5      19   28321.0
6      19   30075.0
7      20   27222.5
8      20   32222.5
9      24   28594.5
10     25   31609.0
11     25   27897.0
12     25   28478.5
13     26   28540.5
14     29   30555.5
15     31   33969.0
16     32   33014.5
17     34   41544.0
18     37   40681.5
19     37    4697.0
20     42   45869.0
21     44   49136.5
22     49   50651.0
23     50   56906.0
24     54   54715.5
25     55   52791.0
26     59   58484.5
27     59   56317.5
28     64   61195.5
29     65   60936.0

In [47]:
aylar = df["Aylar"]
satislar = df["Satislar"]
satislar2 = df.iloc[:,0:1].values
satislar2

array([[ 8],
       [10],
       [11],
       [13],
       [14],
       [19],
       [19],
       [20],
       [20],
       [24],
       [25],
       [25],
       [25],
       [26],
       [29],
       [31],
       [32],
       [34],
       [37],
       [37],
       [42],
       [44],
       [49],
       [50],
       [54],
       [55],
       [59],
       [59],
       [64],
       [65]], dtype=int64)

In [48]:
from sklearn.model_selection import train_test_split

In [49]:
x_train,x_test,y_train,y_test = train_test_split(aylar,satislar,test_size=0.33,random_state=0)

In [55]:
x_test

2     11
28    64
13    26
10    25
26    59
24    54
27    59
11    25
17    34
22    49
Name: Aylar, dtype: int64

In [50]:
from sklearn.preprocessing import StandardScaler

In [51]:
sc = StandardScaler()