In [6]:
class insan:
    boy = 1.80
    def kosmak(self,b):
        b+=10
        return b

ali = insan()
ali.boy

1.8

In [7]:
ali.kosmak(89)

99

In [8]:
l = [1,3,4]

# Eksik Veriler

In [9]:
import pandas as pd
import numpy as np
import seaborn as sns

In [10]:
df = pd.read_csv("eksikveriler.csv")

In [11]:
df.head()

  ulke  boy  kilo   yas cinsiyet
0   tr  130    30  10.0        e
1   tr  125    36  11.0        e
2   tr  135    34  10.0        k
3   tr  133    30   9.0        k
4   tr  129    38  12.0        e

In [12]:
from sklearn.impute import SimpleImputer

In [13]:
imputer = SimpleImputer(missing_values=np.nan,strategy="mean")
Yas = df.iloc[:,1:4]
print(Yas)

    boy  kilo   yas
0   130    30  10.0
1   125    36  11.0
2   135    34  10.0
3   133    30   9.0
4   129    38  12.0
5   180    90  30.0
6   190    80  25.0
7   175    90  35.0
8   177    60  22.0
9   185   105  33.0
10  165    55  27.0
11  155    50  44.0
12  160    58   NaN
13  162    59  41.0
14  167    62  55.0
15  174    70  47.0
16  193    90   NaN
17  187    80  27.0
18  183    88  28.0
19  159    40  29.0
20  164    66  32.0
21  166    56  42.0

In [15]:
imputer = imputer.fit(Yas.iloc[:,1:4])

In [16]:
Yas.iloc[:,1:4] = imputer.transform(Yas.iloc[:,1:4])
print(Yas)

    boy   kilo    yas
0   130   30.0  10.00
1   125   36.0  11.00
2   135   34.0  10.00
3   133   30.0   9.00
4   129   38.0  12.00
5   180   90.0  30.00
6   190   80.0  25.00
7   175   90.0  35.00
8   177   60.0  22.00
9   185  105.0  33.00
10  165   55.0  27.00
11  155   50.0  44.00
12  160   58.0  28.45
13  162   59.0  41.00
14  167   62.0  55.00
15  174   70.0  47.00
16  193   90.0  28.45
17  187   80.0  27.00
18  183   88.0  28.00
19  159   40.0  29.00
20  164   66.0  32.00
21  166   56.0  42.00

C:\Users\Ã–zdemir\AppData\Local\Temp\ipykernel_8640\3649733259.py:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  Yas.iloc[:,1:4] = imputer.transform(Yas.iloc[:,1:4])